body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJv_Bq0X7PRN5ZldUQF4Ypo08CDy7Uc48OOg&usqp=CAU")
    no-repeat center fixed;
      background-size: cover;
}
.boxed {
  border: 1px solid #cee1ff ;
}
font-style: normal
